@font-face {
    font-family: 'Arial Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Regular'), url('arial-webfont/ARIAL.woff') format('woff');
}

:root {
    --default-bg: #17191a;
    --default-txt: #e0e0e0;
    --default-highlight: #CC9900;
    font-family: 'Arial Regular';
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    overflow: hidden;
}

body {
    background: var(--default-bg);
    height: 100vh;
    width: 100vw;
    margin: 0;
    color: var(--default-txt);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* width */
::-webkit-scrollbar {
    background: var(--default-highlight);
    width: 8px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--default-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7a7a7a;
}

h1,
h2,
h3 {
    font-weight: bold;
}

#text-container {
    /* height: 70vh; */
    height: 100%;
    max-width: 97vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
    overflow-y: scroll;
}

#text-input {
    background: transparent;
    color: var(--default-txt);
    border-radius: 5px;
    width: 50vw;
    min-width: 30%;
    resize: horizontal;
}

#html-content-display {
    min-width: 30%;
    height: 100%;
    width: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#html-content-display>* {
    text-wrap: auto;
}

#resize {
    background: #444857;
    height: 100%;
    width: 8px;
    cursor: col-resize;
    flex-shrink: 0;
    position: relative;
    z-index: 10;
    user-select: none;
}

#resize::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3px;
    height: 15px;
    border-inline: 1px solid #fff;
}

textarea {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

textarea:focus {
    border: 2px solid var(--default-highlight);
    outline: none;
}

textarea::selection {
    background: var(--default-highlight);
    color: var(--default-bg);
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin-left: 12px;
}

span {
    display: block;
}

.actions-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.buttons-container {
    margin-bottom: 12px;
    padding: 12px 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    border: 1px var(--default-txt) dotted;
    border-radius: 5px;
    width: fit-content;
}

.icon {
    height: 16px;
    width: 16px;
}

.copy-float-title {
    position: relative;
    bottom: -8px;
    left: 10px;
    width: fit-content;
    background-color: var(--default-bg);
    z-index: 2;
}

.copy-btn {
    background: var(--default-highlight);
    border-radius: 5px;
    height: 30px;
    width: fit-content;
    color: var(--default-bg);
    font-size: 14px;
    padding: 4px 8px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 12px;
}

.footer {
    background-color: var(--default-bg);
    height: 40px;
    width: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
}

.footer>a {
    color: var(--default-txt);
    font-size: 12px;
}

.alert-box {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 50px;
    width: 200px;
    background: #148529;
    border-radius: 5px;
    text-align: center;
    place-content: center;
}

.hide {
    display: none;
}

@media (max-width: 400px) {
    #text-container {
        width: 86vw;
        flex-direction: column;
    }

    #text-input {
        width: 100%;
        resize: none;
    }

    #html-content-display {
        width: 100%;
    }

}